
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="alian1" class="org.example.Alian" scope="singleton" autowire="byType">

        <property name="age" value="21"/>
        <property name="com" ref="com1"/>



<!--       <constructor-arg value="21"/>-->
<!--        <constructor-arg ref="lap1"/>-->
<!--        //setter injection-->
<!--        <property name="age" value="21">-->

<!--        </property>-->
<!--        <property name="lap" ref="lap1">-->
<!--        </property>-->
    </bean>
    <bean id="com" class="org.example.Laptop" primary="true" lazy-init="true">
    </bean>
    <bean id="com1" class="org.example.Desktop" >
    </bean>
</beans>

